<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Home Page</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <!-- <%= JSON.stringify(user) %> -->
    <div class="container mt-2 mb-4">
        <div class="row row-cols-3">
            <% blogs.forEach(blog => { %>
                <div class="col">
                    <div class="card col text-bg-secondary mt-4" style="width: 25rem; margin: auto;">
                        <img src="<%= blog.coverImageURL %>" class="card-img-top px-2 mt-2" style="height:230px;">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                         </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <%- include("./partials/script.ejs") %>
</body>
</html>